.jianbao{
    width: calc(100% - 20px);
    height: 80px;
    /* height: auto; */
    display: grid;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 200;
    background-image: url('../../Background_img/Baozhi.svg');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(0,0,0,0.05);
    background-color:white;
    color: teal;
    /* transition: all 1s; */
}
.jianbao:hover{
    transition: all 1s;
    cursor: pointer;
    /* background-size: cover; */

    font-weight: 300;
    color: black;
    background-color: rgba(0,0,0,0.1);
}
.jianbao>*{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.jianbao>*>div:first-child{
    display: flex;
}

.jianbao>*>div:first-child>div:first-child{
    margin-right: 40px;
}