.Concept_img{
    width: 50px;
}
.Concept{
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    width: 300px;
    /* background-color: royalblue; */
}
.Concept>div:first-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Concept>div:first-child>div:first-child{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px 0px 10px 0px;
}

.Concept>div:nth-child(2)>ol{
    border-radius: 10px;
}
.Concept>div:first-child>div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Concept:hover.Concept>div:first-child>div:first-child{
    background: #ee9ca7;  /* fallback for old browsers */      background: -webkit-linear-gradient(to right, rgb(238, 156, 167), rgb(255, 221, 225));  /* Chrome 10-25, Safari 5.1-6 */      background: linear-gradient(to right, rgb(238, 156, 167), rgb(255, 221, 225)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      }
.Concept:hover.Concept>div:nth-child(2)>ol{
    background: #ee9ca7;  /* fallback for old browsers */      background: -webkit-linear-gradient(to right, rgb(238, 156, 167), rgb(255, 221, 225));  /* Chrome 10-25, Safari 5.1-6 */      background: linear-gradient(to right, rgb(238, 156, 167), rgb(255, 221, 225)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}