.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.xixi_logo{
  width: 168px;

}
.zong{
  background: honeydew;

  /* background: linear-gradient(to right, rgb(0, 176, 155), rgb(150, 201, 61));      */
}
.daohanglan{
  width: 100%;
  height: 168px;
  display: flex;
  justify-content: space-around;
  /* backdrop-filter: blur(10px) brightness(100%); */
}
.zuo{
  display: flex;
  align-items: center;
}
.you{
  display: flex;
  align-items: center;
}
.you>*{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
}
.xiala{
  padding: 3px 3px;
  position:absolute;
  width: fit-content;
  display: none;
  background: honeydew;

}
.xiala>*{
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid slategrey;
}
.chumo:hover .xiala{
  display: inline-grid;
}
a{
  text-decoration: none;
  color: black;
}
.more{
  display: none;

}
a:hover{
  color: red;
}
.se:hover{
  color: red;
}

/*响应式*/

@media screen and (max-width: 600px) {
  .daohanglan{
    height: auto;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
  }
  .zuo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .you{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .you>*{
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
    font-size: 26px;
    border-bottom: 5px solid slategrey;

  }
  .xiala{
    display: block;
    position: static;
  }
  .xiala>*{
    font-size: 17px;
    width: fit-content;
    /* border-style: solid; */

  }
  .you{
    display: none;
  }
  .more{
    display: inline;
    align-content: center;
    display: flex;
  }
  .more>img{
    width: 100px;
  }
  .chumo:hover .xiala{
    display:block;
  }
}